{{!-- delete request form --}}
<form action="/organizations/{{organization._id}}?_method=DELETE" method="post">

    <input type="submit" value="Delete Organization">

</form>
 
 <a href="/organizations/{{organization._id}}/edit">Delete Organization</a>
 
  