{{!-- delete request form --}}
<form action="/projects/{{project._id}}?_method=DELETE" method="post">

    <input type="submit" value="Delete Project">

</form>
 
 <a href="/projects/{{project._id}}/edit">Delete Project</a>
 
  