<form method="POST" action="/bids">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  
  <label for="company">Company Name:</label>
  <input
     type="text"  
     placeholder="company" 
     name="company" 
     id="company"
     
  />

  <label for="rating">Safety Rating</label>
  <input
     type="text"  
     placeholder="rating" 
     name="rating" 
     id="rating"
     
  />

<label for="number">Telephone Number</label>
  <input
     type="text"  
     placeholder="number" 
     name="number" 
     id="number"

<label for="type">Type of Insurance</label>
  <input
     type="text"  
     placeholder="type" 
     name="type" 
     id="type"
     
  />

  <label for="complete">Time to Complete Job</label>
  <input
     type="text"  
     placeholder="complete" 
     name="complete" 
     id="complete"
     
  />

<label for="amount">Price to Complete Project</label>
  <input
     type="text"  
     placeholder="amount" 
     name="amount" 
     id="amount"
     
  />


  


  <input type="submit" value="Create Bid" />
  
</form>