<form method="POST" action="/organizations/{{organization._id}}?_method=PUT">


  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  -->
  
  <!--
    Template for creating input form for a boolean object member
  -->
  {{!-- <input type="checkbox" name="<TODO: booleanMember (e.g: isActive)>" value="true" {{#if <TODO: model.booleanMember (e.g: account.isActive)}}checked{{/if}} /> --}}

 <label for="name">Company Name:</label>
  <input
     type="text"  
     placeholder="name" 
     name="name" 
     id="name"
     value="{{organization.description}}"
  />

  <label for="description">Job Description</label>
  <input
     type="text"  
     placeholder="description" 
     name="description" 
     id="description"
     value="{{issue.description}}"
  />

  


  <input type="submit" value="Create Organization" />
  
</form>



  <!--
    Template for creating input form for a boolean object member
  -->
 
